{% extends 'base.html' %}
{% block title %}Help{% endblock %}
{% block body %}
<img alt="Fine art" src="/help/art1.svg">
<h1>micromicro help - Top</h1>
<ul class="help-toc">
	<li><a href="/help/what_are_microtransactions.html?{{bust}}">What are microtransactions?</a></li>
	<li><a href="/help/getting_started.html?{{bust}}">Getting started</a></li>
	<li><a href="/help/parts_of_the_application.html?{{bust}}">Parts of the application</a></li>
	<li><a href="/help/maintenance_and_other_fees.html?{{bust}}">Maintenance and other fees</a></li>
	<li>
		<h2>Basics</h2>
		<ul>
			<li><a href="/help/basics_deposit_money.html?{{bust}}">Deposit money</a></li>
			<li><a href="/help/basics_withdraw_money.html?{{bust}}">Withdraw money</a></li>
			<li><a href="/help/basics_send_money.html?{{bust}}">Send money</a></li>
			<li><a href="/help/basics_receive_money.html?{{bust}}">Receive money</a></li>
		</ul>
	</li>
	<li>
		<h2>Guides</h2>
		<ul>
			<li><a href="/help/cases_security_best_practices.html?{{bust}}">Security best practices</a></li>
			<li><a href="/help/cases_add_iphone_home.html?{{bust}}">Add to your iPhone home screen</a></li>
			<li><a href="/help/cases_create_a_digital_asset_store.html?{{bust}}">Create a digital asset store</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
